<div class="container-fluid feedbacks">
  <div class="col-md-4 review-form-wrapper">
    <form  class="review-form">
         <input type="text" class="form-control" id="name" placeholder="Name"/>
          <textarea type="text" class="form-control" id="message" placeholder="Message"></textarea>
          <button id="sendEmail" type="submit" class="btn btn-deafult">Оставить отзыв</button>
      </form>
  </div>
  <div class="col-md-8 col-md-offset4 review-content">
    <h1 class="text-center">Отзывы</h1>
  <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl
        </div>
      </div>
    </div>
  </div>
    <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl
        </div>
      </div>
    </div>
  </div>
    <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl;ldkjfa;ldjfd
          afjdlkafjd;lakfdfldkafjdl;afjdl;fjd;lafjdl;ajfd;la
          fjdlkajfdl;afdafd
        </div>
      </div>
    </div>
  </div>
    <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl;ldkjfa;ldjfd
          afjdlkafjd;lakfdfldkafjdl;afjdl;fjd;lafjdl;ajfd;la
          fjdlkajfdl;afdafd
        </div>
      </div>
    </div>
  </div>
    <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl
          ;ldkjfa;ldjfd
          afjdlkafjd;lakfdfldkafjdl;afjdl;fjd;lafjdl;ajfd;la
          fjdlkajfdl;afdafd;ldkjfa;ldjfd
          afjdlkafjd;lakfdfldkafjdl;afjdl;fjd;lafjdl;ajfd;la
          fjdlkajfdl;afdafd
        </div>
      </div>
    </div>
  </div>
    <div class="row comment-box">
    <div class="col-md-1">
      <div class="thumbnail">
      <img class="img-responsive" src="../../../public/images/usericon.jpg">
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Заур</strong><span class="text-muted"> оставил(a) 5 дней назад</span>
        </div>
        <div class="panel-body">
          flasjfl;dajf ldafjld;ajfl aj lfkjdla;sfj lakdfjl;adj llfdajl
          dalfkjdlafk;j;ldkjfa;ldjfd
          afjdlkafjd;lakfdfldkafjdl;afjdl;fjd;lafjdl;ajfd;la
          fjdlkajfdl;afdafd
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<style>
.feedbacks {
  min-height: 800px;
  background-color: #2F3238;
  color: #555;
}

.review-content {
  margin-top: 60px;
  min-height: 800px;
  background-color: #26292E;
}

.review-form-wrapper {
  margin-top: 60px;
}

.review-form input,
.review-form textarea {
    border: none;
    border-radius: 0;
    background: #26292E;
    color: #FFFFFF;
    margin-bottom: 1px;

}
.review-form textarea {
    width: 100%;
    height: 300px;
    resize: vertical;
}

.review-form button {
    background: #3C3F45;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px, 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    margin-top: 30px;
}

.review-form button:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

.comment-box {
  margin-top: 20px;
  margin-left: 30px;
}

.thumbnail {
  padding: 0;
}

.panel {
  width: 50em;
  background-color: #2F3238;
  color: white;
  border-color: gray;
}
.panel-heading {
  color: white;
  background-color: #262626;
  border-color: gray;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
</style>