<div class="container-fluid services">
    <div class="row">
    </div>
    <div class="row-fluid serviceitems">
        <div class="col-md-4 seritem">
        <div class="picture">
            <div class="hovereffect">
                <img src="../../../public/images/1.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
         </div>
        </div>
    <div class="col-md-4 seritem">
     <div class="picture">
            <div class="hovereffect">
                <img src="../../../public/images/3.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
    </div>
    </div>
    <div class="col-md-4 seritem">
     <div class="picture">
            <div class="hovereffect">
                <img src="../../../public/images/2.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
    </div>
    </div>
    <div class="col-md-4 seritem">
     <div class="picture">
            <div class="hovereffect">
                <img src="../../../public/images/1.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
    </div>
    </div>
    <div class="col-md-4 seritem">
     <div class="picture">
            <div class="hovereffect">
                <img src="../../../public/images/3.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
    </div>
    </div>
    <div class="col-md-4 seritem">
     <div class="picture">
           <div class="hovereffect">
                <img src="../../../public/images/2.jpg" class="image-responsive" alt="">            
                <div class="image-overlay"></div>
            </div>
            <div class="item-description">
                <h5>ldfjalfjl dlafjdlfj dsal fjdl</h5>
                <p>fljal;fjdl;afjdl;ajfdl;f
                    afdlafjd;laf
                    fadl;fjda;lfjdl;faj;lfjdl;afd;
                </p>
            </div>
    </div>
    </div>
</div>
</div>
<style>

.serviceitems {
    margin-top: 60px;
    padding-top: 20px;
    padding-left: 50px;
}
.services {
    min-height: 800px;
    background-color: #2F3238;
}
.seritem {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}
.pagetitle {
    margin-top: 60px;
    text-align: center;
    color: white;

}

.pagetitle h3 {
    font-size: 450%;
    font-weight: 10;
}
.picture img {
    height: 300px;
    width: 300px;
    border: 1px solid #f6f6f6;
}

.hovereffect {
    padding-left: 50px;
}
.hovereffect .image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(255,0,0);
  transform: translate3d(255,0,0);
}


</style>